@charset "UTF-8";

.server-panel {
    margin: 3px;
    border-radius: 10px;
}

.icon-lg {
    width: 30px;
    height: 30px;
}

.prefs-button {
    width: 17px;
    height: 17px;
    border-radius: 10px;
}

.padded {
    padding: 5px;
}

.bin {
    margin: 10px;
    text-align: right;
}

.duration {
    font-size: 75%;
    width: 75px;
}
