.bordered {
    border-width: 1px;
    border-radius: 10px;
}

.padded {
    padding: 10px;
}

.shadowed {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.lighter {
    background-color: rgba(255, 255, 255, 0.1);
}
