@charset "UTF-8";

.server-panel {
    margin: 3px;
}

.server-panel:hover {
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

.icon-lg {
    width: 30px;
    height: 30px;
}

.prefs-button {
    width: 17px;
    height: 17px;
}

.prefs-button:hover {
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

.padded {
    padding: 5px;
}

.bin {
    margin: 10px;
    text-align: right;
}

.small-text {
    font-size: 75%;
    width: 75px;
}
