@charset "UTF-8";
@import "./common.css";

.server-panel:hover {
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

.prefs-button:hover {
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}
