@charset "UTF-8";

.bordered {
    border-width: 1px;
    border-radius: 10px;
    border-color: #808080;
    margin: 5px;
}

.icon-lg {
    width: 30px;
    height: 30px;
}

.icon-sm {
    width: 15px;
    height: 15px;
}

.padded {
    padding: 5px;
}

.duration {
    font-size: 75%;
    width: 75px;
}

.bin {
    margin: 10px;
    text-align: right;
}
