@charset "UTF-8";

.server-panel {
    margin: 3px;
}

.server-panel:hover {
    background-color: #3b3b3b;
    border-radius: 10px;
}

.icon-lg {
    width: 30px;
    height: 30px;
}

.icon-sm {
    width: 15px;
    height: 15px;
}

.padded {
    padding: 5px;
}

.bin {
    margin: 10px;
    text-align: right;
}

.duration {
    font-size: 75%;
    width: 75px;
}
