@charset "UTF-8";

.server-box {
	border-width: 1px;
	border-radius: 10px;
	border-color: #808080;
	margin: 5px;
	padding: 5px;
}

.icon {
	width: 30px;
	height: 30px;
	padding: 5px;
}

.label {
	padding: 5px;
}

.prefs-button {
	width: 15px;
	height: 15px;
	padding: 5px;
}